* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 250px;
    display: block;
    margin: 20px auto;
    background: #00557cfd;

}

body {
    background-color: #00557cfd;
}

main {
    border-radius: 20px;
    background-color: aliceblue;
    width: 327px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;

}

select,
input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}

button {
    background: #00557cfd;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.9;
}

section {
    border: 1px solid #00557cfd;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;

}

.box-moeda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    color: #777777;
    font-size: 14px;
}


.moeda-value, .moeda-value-convert  {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
}